
.id_afficher {
    border: 2px solid blue;
    border-radius: 10px;
    width: 30%;
    margin-top: 200px;
    margin-inline: auto;
    padding: 20px;
}

.linkr {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(23, 23, 133);
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.5s ease;
}

.linkr:hover {
    background-color: rgb(66, 66, 136);
}
.footer{
    background-color: black;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}