/*
Module  de style = fichier css qui a l'extention ".mosule.
css" exemple: styles.mosule.css  */
.container{
    width: 100%;
    max-width: 800px;
    margin:0 auto;
}

.titel{
    font-size: 24px;
    color: #0fae44;
}